{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
{% load user_filters %}
  <main role="main" class="container">
    <div class="row">
      <div class="col-md-3 mb-3 mt-1">
        <div class="card">
          <div class="card-body">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <div class="h3">
                  Об авторе
                </div> 
            </li>
            <li class="list-group-item">
              <div class="h6 text-muted">
                <p>Илюшенька, 26 годиков</p>
                <a href="https://github.com/Rikworkco">Мой аккаунт на GitHub</a>
                <p></p> <!-- пропуск, чтобы не сливались ссылки -->
                <small><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">А тут тогда что?</a></small>
              </div>
            </li>
          </ul>                                               
        </div>                    
      </div>                
    </div>
    <!-- Тело страницы -->
    <div class="col-md-9">
      <div class="card-body">                    
        <div class="card-text">
          <h6><p>Йоу! Пару годиков назад закончил университет по специальности "Конфликтология (Conflict Resolution)". Как вы поняли, я тотальный гуманитарий и не стыжусь этого!</h6>
            <h6><p>Вообще, выбрал я Python из-за его легкости в освоении с нуля, чего, наверно, не скажешь о других языках программирования. Естественно, начинать учебу с нуля и в совершенно другой области знаний очень нелегко: далеко не все понятно с первого раза, а то, что понятно, быстро забывается и превращается в кашу из-за больших объемов поглащаемой информации. 
                Но это еще не повод громко стукнуть кружкой по столу и запустить танки, чтобы забыться в них, уйти от этого вашего непонятного программирования. Хоть я и не самурай, но у меня есть цель, а значит надо к ней идти. Конечно, непонимание заметно подкашивает это стремление. 
                Но зато, когда сидишь целыми днями и ищешь ошибки в коде и их способы решения, и в итоге проект запускается и работает как надо, то этот самый гуманитарий издает такие звуки восхищения, которые вы еще не слышали!</h6>
            </p><br><br><br><br><br>
            <h2 align="center">Свяжись со мной</h2><br>
            <img align="center" src='https://coub-attachments.akamaized.net/coub_storage/coub/simple/cw_timeline_pic/4f21ea52029/2e22834155c757a795645/1546145959_image.jpg'
            width='400'
            height='340'
            border="2" hspace="250">
            <h4><br><p align="center">Tel: 1-213-373-4253<br></h4>
        </div>                    
      </div>                
    </div>            
  </div>        
</main>
{% endblock %}